.btn {
  // Vars
  --btn-background-color: var(--color-surface-100);
  --btn-color: var(--color-surface-950);
  --btn-hover-background-color: var(--color-surface-200);
  --btn-active-background-color: var(--color-surface-300);
  --btn-disabled-background-color: var(--color-surface-100);
  --btn-disabled-color: var(--color-surface-400);
  --btn-padding: 0.75rem 1.5rem;
  --btn-border-radius: var(--app-border-radius);
  --btn-border: none;

  cursor: pointer;
  font-weight: bold;
  padding: var(--btn-padding);
  background-color: var(--btn-background-color);
  color: var(--btn-color);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  transition: var(--app-default-transition);

  // States
  &:hover:not(:disabled) {
    background-color: var(--btn-hover-background-color);
  }
  &:active:not(:disabled) {
    background-color: var(--btn-active-background-color);
  }
  &:disabled {
    background-color: var(--btn-disabled-background-color);
    color: var(--btn-disabled-color);
    cursor: unset;
  }

  // Colors
  &.btn-color-primary {
    --btn-background-color: var(--color-primary);
    --btn-color: var(--color-secondary-700);
    --btn-hover-background-color: var(--color-primary-200);
    --btn-active-background-color: var(--color-primary-300);
    --btn-disabled-background-color: var(--color-primary-100);
    --btn-disabled-color: var(--color-secondary-400);
  }

  &.btn-color-secondary {
    --btn-background-color: var(--color-secondary-50);
    --btn-color: var(--color-secondary-700);
    --btn-hover-background-color: var(--color-secondary-100);
    --btn-active-background-color: var(--color-secondary-200);
    --btn-disabled-background-color: var(--color-secondary-100);
    --btn-disabled-color: var(--color-secondary-400);
  }
}
