table {
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
}

thead tr {
  background: var(--color-secondary-50);
}

th:not(.avatar),
td:not(.avatar) {
  padding: 0.75rem 0.5rem;
  text-align: left;
}

thead tr {
  font-weight: 600;
  border-bottom: 2px solid var(--color-surface-200);
}
tr {
  border-bottom: 1px solid var(--color-surface-200);
  color: var(--color-surface-800);
}

tr:last-child {
  border-bottom: none;
}

td.avatar {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    --diameter: 36px;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background: var(--color-secondary-300);
    color: var(--color-secondary-50);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header-popover {
  margin: 1rem;
}

.actions-popover {
  display: flex;
  flex-direction: column;
}

.icon-btn {
  display: inlin-flex;
  border: none;
  background: transparent;
  cursor: pointer;

  img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}
