<div class="page-content">
  <div class="actions-toolbar">
    <app-form-field [reserveMessageSpace]="false">
      <input [formControl]="this.fcSearch" placeholder="Search" />
    </app-form-field>
    <button appButton routerLink="./new">Agregar</button>
  </div>
  <section class="table-section">
    @let filteredProducts = filteredProducts$ | async;
    <div class="table-container">
      <app-products-list [products]="filteredProducts || []" (delete)="onDelete($event)"></app-products-list>
    </div>
    <div class="table-footer">
      <p>{{ filteredProducts?.length || 0 }} {{ filteredProducts?.length === 1 ? 'Resultado' : 'Resultados' }}</p>
      <select [formControl]="this.fcRows" id="rows">
        @for (rows of availableRowsToShow; track $index) {
          <option [value]="rows">{{ rows }}</option>
        }
      </select>
    </div>
  </section>
</div>
