.page-content {
  width: min(900px, calc(100% - 2rem));
  margin: 4rem auto 0 auto;
}

.actions-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.table-section {
  background-color: var(--color-surface-0);
  border-radius: var(--app-border-radius);
}

.table-container {
  padding: 1rem;
  overflow-x: auto;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem;
}
