<div class="actions-toolbar">
  <div>
    <input [formControl]="this.fcSearch" placeholder="Search" />
  </div>
  <button routerLink="./new">Agregar</button>
</div>
<section>
  @for (product of filteredProducts$ | async; track $index) {
    <div>
      {{ product | json }}
      <button [routerLink]="['./edit', product.id]" [state]="product">Editar</button>
      <button (click)="onDelete(product.id)">Eliminar</button>
    </div>
  } @empty {
    <p>No hay productos disponibles</p>
  }
  <select [formControl]="this.fcRows">
    @for (rows of availableRowsToShow; track $index) {
      <option [value]="rows">{{ rows }}</option>
    }
  </select>
</section>
