<div class="page-content">
  <div class="actions-toolbar">
    <app-form-field [reserveMessageSpace]="false">
      <input [formControl]="this.fcSearch" placeholder="Search" />
    </app-form-field>
    <button appButton routerLink="./new">Agregar</button>
  </div>
  <section class="table-section">
    @let filteredProducts = filteredProducts$ | async;
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="avatar">Logo</th>
            <th>Nombre</th>
            <!-- TODO info icon -->
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de revisión</th>
            <!-- Actions -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (product of filteredProducts; track $index) {
            <tr>
              <td class="avatar">
                <div><img [src]="product.logo" alt="Logo" /></div>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.date_release | date: dateFormat }}</td>
              <td>{{ product.date_revision | date: dateFormat }}</td>
              <!-- TODO 3 dots icon, menu -->
              <td>
                <button (click)="popover.open($event)">...</button>
                <app-popover #popover>
                  <div class="action-popover">
                    <button appButton color="secondary" [routerLink]="['./edit', product.id]">Editar</button>
                    <button appButton color="danger" (click)="onDelete(product.id)">Eliminar</button>
                  </div>
                </app-popover>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="5">No hay productos disponibles</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="table-footer">
      <p>{{ filteredProducts?.length || 0 }} {{ filteredProducts?.length === 1 ? 'Resultado' : 'Resultados' }}</p>
      <select [formControl]="this.fcRows" id="rows">
        @for (rows of availableRowsToShow; track $index) {
          <option [value]="rows">{{ rows }}</option>
        }
      </select>
    </div>
  </section>
</div>
