<form [formGroup]="fgProduct()">
  <div class="form-inputs-wrapper">
    <!-- Id -->
    <app-form-field>
      <label for="id">ID</label>
      <input id="id" type="text" formControlName="id" placeholder="Ingrese el ID del producto" />
      <app-form-error
        [errors]="{
          required: 'ID requerido',
          minlength: 'ID no válido',
          maxlength: 'ID no válido',
          idExists: 'ID ya existente',
        }"
      ></app-form-error>
    </app-form-field>

    <!-- Name -->
    <app-form-field>
      <label for="name">Nombre</label>
      <input id="name" type="text" formControlName="name" placeholder="Ingrese el nombre del producto" />
      <app-form-error
        [errors]="{ required: 'Nombre requerido', minlength: 'Nombre no válido', maxlength: 'Nombre no válido' }"
      ></app-form-error>
    </app-form-field>

    <!-- Description -->
    <app-form-field>
      <label for="description">Descripción</label>
      <input id="description" formControlName="description" placeholder="Ingrese la descripción del producto" />
      <app-form-error
        [errors]="{
          required: 'Descripción requerida',
          minlength: 'Descripción no válida',
          maxlength: 'Descripción no válida',
        }"
      ></app-form-error>
    </app-form-field>

    <!-- Logo -->
    <app-form-field>
      <label for="logo">Logo</label>
      <input id="logo" type="text" formControlName="logo" placeholder="Ingrese la URL del logo" />
      <app-form-error [errors]="{ required: 'Logo requerido' }"></app-form-error>
    </app-form-field>

    <!-- Date Release -->
    <app-form-field>
      <label for="date_release">Fecha Liberación</label>
      <input
        id="date_release"
        type="date"
        [min]="minDateRelease() | date: INPUT_DATE_FORMAT"
        formControlName="date_release"
      />
      <app-form-error
        [errors]="{
          required: 'Fecha liberación requerida',
          invalidDate: 'Fecha no válida',
          dateCompare: 'Fecha no válida',
        }"
      ></app-form-error>
    </app-form-field>

    <!-- Date Revision -->
    <app-form-field>
      <label for="date_revision">Fecha Revisión</label>
      <input id="date_revision" type="date" formControlName="date_revision" />
    </app-form-field>
  </div>
</form>
